@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,300;1,300;1,400;1,500&display=swap');
*{
  outline: none;
  box-sizing: border-box;
  font-family: 'Mulish';
}
html,body,ul,ol{
  padding: 0;
  margin: 0;
}
a{
  display: inline-block;
  text-decoration: none;
}
.bg-blue{
  background-color: #10447E;
}
button{
  border: none;
}
h1,h2,h3,h4,h5,h6{
  color: #10447E !important;
  margin: 0;
}
figure{
  margin: 0;
}
.App {
  text-align: center;
}
